{
  "plugins": [
    "transform-decorators-legacy",
    ["transform-react-jsx", { "pragma": "preactRender" }],
    "transform-es2015-modules-commonjs",
    "transform-class-properties",
    "transform-object-rest-spread",
    "external-helpers"
  ],
  "highlightCode": false,
  "env": {
    "dist": {
      "plugins": [
        ["transform-inline-environment-variables", { "include": ["NODE_ENV"] }]
      ],
      "presets": [
        ["minify", { "mangle": false }]
      ]
    }
  }
}